BODY {
  margin: 1em 1.5em;
  font-family: arial, lucinda, helvetica;
  color: black;
  background: white;
}
 
.text {
   font-family: arial, lucinda, helvetica;
}

SPAN.hidden { font-size: .6em; color: white }
SPAN.red { font-size: .6em; color: red; font-weight: bold; }

P.red { 
  color: red;
  font-style: italic;
  font-size: .8em; 
}
 
A:link { color: navy }       /* unvisited link */
A:visited { color: gray }   /* visited links */
A:active { color: cyan }    /* active links */
A:hover { color:green; background:lightblue; }
 
TH, TD {
  font-family: arial, lucinda, helvetica;
}

DT {
  font-weight: bold;
  color: blue;
}
  
B, CODE {
  font-family: arial, lucinda, helvetica;
  font-weight: bold;
  color: blue
}
 
H1 {
  text-align: center;
  font-family: arial, lucinda, helvetica;
  font-weight: normal; 
}
 
H2, H3 {
  text-align: left;
  font-family: arial, lucinda, helvetica;
  font-weight: normal; 
  background: #00BA4A;
}
 
H4 {
  color: #000000;
}

DIV.hidden {
   border-style: solid;
   border: 2px;
   margin: 0px 20px 0px 20px;
   background-color: #FFF0F0; 
}

SPAN.marker { background: grey; }

SPAN.number { background: lightblue; font-style: italic }

SPAN.author { background: yellow; }
SPAN.booktitle { background: red; }
SPAN.date { background: cyan; }
SPAN.editor { background: plum;}
SPAN.institution { background: ivory; font-style: italic }
SPAN.journal { background: gold; font-style: italic }
SPAN.location { background: chartreuse; }
SPAN.note { background: tan; font-style: italic }
SPAN.pages { background: pink; }
SPAN.publisher { background: lime; }
SPAN.tech { background: silver;}
SPAN.title { background: orange; }
SPAN.volume { background: magenta; font-style: italic }

SPAN.abstract { background: ivory; font-style: italic }
SPAN.address { background: red; }
SPAN.email { background: silver;}
SPAN.affiliation { background: lime; }

DIV.contexts { font-size: .8em; background: #FFFFFF; border: 1px solid #000000; }