1token=1
2token=1
3token=1
4token=1
parscit=1
parscit_char=1
tokenCapital=1
tokenNumber=1
tokenName=1
tokenPunct=1
tokenKeyword=0

lineNum=1
linePunct=1
lineLength=1
lineCapital=0
linePos=1

1gram=0
2gram=0
3gram=0
4gram=0

xmlLoc=0
xmlAlign=0

xmlBold=0
xmlItalic=0
xmlFontSize=0

xmlPic=0
xmlTable=0
xmlBullet=0

bi_xmlA=0
bi_xmlF=0
bi_xmlSF=0
bi_xmlSFBI=0
bi_xmlSFBIA=0
bi_xmlPara=0

xmlSpace=0
